<div class='travel-registration-form'>
 
  <h1>男気旅行新規作成ページ</h1>
  <%=form_with model: @travel, local: true do |f|%>

    <div class='travel-registration-form__field'>
      <div class='travel-registration-form__field--left'>
        <%= f.label :旅行名, class: 'travel-registration-form__label'%>
      </div>
      <div class='travel-registration-form__field--right'>
        <%= f.text_field :name, class: 'travel-registration_name travel-registration_name-form__input', placeholder: '旅行名を入力してください'%>
      </div>
    </div>

    <div class='travel-registration-form__field'>
    </div>
    
    <div class='travel-registration-form__field'>
      <div class='travel-registration-form__field--left'>
        <%= f.label :旅行開始日, class: 'travel-registration-form__label'%>
      </div>
      <div class='travel-registration-form__field--right'>
        <%= f.date_select :start_day, use_month_numbers: true, default: { year: 2010, month: 1, day: 1 } %>
      </div>
    </div>

    <div class='travel-registration-form__field'>
    </div>

    <div class='travel-registration-form__field'>
      <div class='travel-registration-form__field--left'>
        <%= f.label :旅行終了日, class: 'travel-registration-form__label'%>
      </div>
      <div class='travel-registration-form__field--right'>
        <%= f.date_select :end_day, use_month_numbers: true, default: { year: 2010, month: 1, day: 1 } %>
      </div>
    </div>
    
    <div class='travel-registration-form__field'>
    </div>

    <div class='travel-registration-form__field'>
      <div class='travel-registration-form__field--left'>
        <%= f.label :旅行する男気グループ選択, class: 'travel-registration-form__label'%>
      </div>
      <div class='travel-registration-form__field--right'>
        <%= f.collection_select(:group_id, Group.all, :id, :name, {prompt: "旅行を行う男気グループを選択ください"}) %>
      </div>
    </div>

    <div class='travel-registration-form__field'>
      <div class='travel-registration-form__field--left'>
      </div>
      <div class='travel-registration-form__field--right'>
        <%= f.submit "登録する" %>
      </div>
    </div>

  <% end %>

</div>
