<div class='travel-registration-form'>
 
  <h1>男気旅行 新規作成</h1>
  <%=form_with model: @travel, local: true do |f|%>
  <h4 class='attention'>【必須】は必ず入力または選択ください</h4>
    <%# <%= render 'devise/shared/error_messages', model: f.object %>

    <div class='travel-registration-form__field'>
      <div class='travel-registration-form__field--left'>
        <%= f.label :【必須】旅行名（最大15文字）, class: 'travel-registration-form__label'%>
      </div>
      <div class='travel-registration-form__field--right'>
        <%= f.text_field :name, autofocus: true, class: 'travel-registration_name travel-registration_name-form__input', placeholder: '旅行名を入力してください'%>
      </div>
    </div>
    
    <div class='travel-registration-form__field-date'>
      <div class='travel-registration-form__field-date--left'>
        <%= f.label :【必須】旅行開始日, class: 'travel-registration-form-date__label'%>
      </div>
      <div class='travel-registration-form__field-date--right'>
        <%= f.date_select :start_day, {use_month_numbers: true,start_year: 2010, end_year: 2100}, default: { year: 2010, month: 1, day: 1 } %>
      </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    </div>

    <div class='travel-registration-form__field-date'>
      <div class='travel-registration-form__field-date--left'>
        <%= f.label :【必須】旅行終了日, class: 'travel-registration-form-date__label'%>
      </div>
      <div class='travel-registration-form__field-date--right'>
        <%= f.date_select :end_day, {use_month_numbers: true,start_year: 2010, end_year: 2100}, default: { year: 2010, month: 1, day: 1 } %>
      </div>
    </div>

    <div class='travel-registration-form__field'>
      <div class='travel-registration-form__field--left'>
        <%= f.label :【必須】旅行する男気グループ選択, class: 'travel-registration-form__label'%>
      </div>
      <div class='travel-registration-form__field--right'>
        <%= f.collection_select(:group_id, @groups, :id, :name, {include_blank: "----"}) %>
      </div>
    </div>

    <div class='travel-registration-form__field'>
      <div class='travel-registration-form__field--left'>
      </div>
      <div class='travel-registration-form__field--right'>
        <%= f.submit "登録する" %>
      </div>
    </div>

  <% end %>
</div>
