  <h1 class='detail-page-title'>
  男気ジャンケン旅行 詳細ページ
  </h1>

  <h3 class='detail-page-select-travel'>
  <%= @travel.name%>:<%= @travel.start_day%>〜<%= @travel.end_day%>
  </h3>

<div class='travel-result-table'>

  <div class='container'>
    <div class='travels-index-item'>
  <table border="1">
  <h2>■結果一覧</h2>
    <thead>
    <tr>
      <th>No</th>
      <th>男気のあった人</th>
      <th>日時</th>
      <th>品目</th>
      <th>金額</th>
      <th>備考</th>
      <th>写真</th>
      <th>編集リンク</th>
      <th>削除実行</th>
    </tr>
    </thead>
<tbody>
  <% @results.each.with_index(1) do |result, i| %>
    <tr>
      <td><%= i %></td>
      <td><%= result.nickname %></td>
      <td><%= result.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= ItemCategory.data.find{ |s| s[:id] == result.item_category_id }[:name] %></td>
      <td><%= result.money.to_s(:delimited) %></td>
      <td><%= result.note %></td>
      <td><%= image_tag result.image, class: "result-image" if result.image.attached? %></td>
      <td><%= link_to "編集", edit_result_path(result.id), method: :get %></td>
      <td><%= link_to "削除", result_path(result.id), method: :delete %></td>
    </tr>
</tbody>
  <% end %>
  </table>
    </div>
  </div>
</div>

<%# <div class='container'>
<h2>■投稿画像一覧</h2>
<div class='result-image-content'>
  <% @results.each do |result| %>
    <%# <%= link_to travel_path(result.id) do %>
      <%# <%= image_tag result.image, class: "result-image" if result.image.attached? %>
    <%# <% end %>
  <%# <% end %>
<%# </div>
</div> %> 

<div class='container'>
  <h2>■コメント投稿</h2>
  <%= form_with(model: [@travel, @comment], local: true) do |form| %>
    <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
    <%= form.submit "SEND" %>
  <% end %>
</div>    
<div class='comments'>
  <h2>■コメント一覧</h2>
  <% @comments.each do |comment| %>
    <p>
      【<%= comment.user.nickname %>】
      <%= comment.text %>
      （<%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %>）
    <p>
  <% end %>
<div>