<div class='travel-select-form'>
 
  <h1>男気ジャンケンの記録を行う旅行の選択ページ</h1>
  <%=form_with model: @travel_select, local: true do |f|%>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにする。%>
    <%= render 'devise/shared/error_messages', model: f.object %>

    <div class='travel-select-form__field'>
      <div class='travel-select-form__field--left'>
        <%= f.label :男気ジャンケンの記録を行う旅行の選択, class: 'travel-select-form__label'%>
      </div>
      <div class='travel-select-form__field--right'>
        <%= f.collection_select(:travel_id, @travels, :id, :name, {include_blank: "----"}) %>
      </div>
    </div>

    <div class='travel-select-form__field'>
      <div class='travel-select-form__field--left'>
      </div>
      <div class='travel-select-form__field--right'>
        <%= f.submit "登録する" %>
      </div>
    </div>

  <% end %>

</div>
