<div class='travel-select-form'>
  <h1>ジャンケン結果を記録する旅行選択ページ</h1>
  <h3 class='attention'>【必須】は必ず選択ください</h3>
  <%=form_with model: @travel_select, local: true do |f|%>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにする。%>
    <%= render 'devise/shared/error_messages', model: f.object %>

    <div class='travel-select-form__field'>
      <div class='travel-select-form__field--left'>
        <%= f.label :【必須】旅行選択, class: 'travel-select-form__label'%>
      </div>
      <div class='travel-select-form__field--right'>
        <%= f.collection_select(:travel_id, @travels, :id, :name, {include_blank: "----"}) %>
      </div>
    </div>

    <div class='travel-select-form__button'>
        <%= f.submit "登録する" %>
    </div>

  <% end %>

</div>
