<div class='new-group-form'>
  <h1>男気ジャンケングループ新規作成</h1>
  <h3 class='attention'>【必須】は必ず入力または選択ください</h3>
  <%=form_with model: @group, local: true do |f|%>
  <%= render 'devise/shared/error_messages', model: f.object %>
    <div class='new-group-form__field'>
      <div class='new-group-form__field--left'>
        <%= f.label :【必須】グループ名, class: 'new-group-form__label'%>
      </div>
      <div class='new-group-form__field--right'>
        <%= f.text_field :name, autofocus: true, class: 'chat__room_name new-group-form__input', placeholder: 'グループ名を入力してください'%>
      </div>
    </div>
    
    <div class='new-group-form__field'>
      <div class='new-group-form__field--left'>
        <label class='new-group-form__label' for='chat_room_チャットメンバー'>グループメンバー</label>
      </div>
      <h3 class='attention2'>※1人目のユーザーとして貴方が登録されます</h3>

      <div class='new-group-form__field--right'>
        <input name="group[user_ids][]" type="hidden" value=<%= current_user.id %>>
        <select name="group[user_ids][]" id="select_box1">
          <option value="">グループに加える2人目のユーザーを選択ください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.nickname %></option>
          <% end %>
        </select>  
        <select name="group[user_ids][]" id="select_box2">
          <option value="">グループに加える3人目のユーザーを選択ください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.nickname %></option>
          <% end %>
        </select>  
        <select name="group[user_ids][]" id="select_box3">
          <option value="">グループに加える4人目のユーザーを選択ください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.nickname %></option>
          <% end %>
        </select>                    
      </div>

    </div>

    <div class='new-group-form__field'>
      <div class='new-group-form__field--left'></div>
      <div class='new-group-form__field--right'>
        <%= f.submit class: 'new-group-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
