<div class = main-top>
  <div class="trip-history">
    <a href="#">■ユーザーが参加した男気旅行一覧</a>
     <% current_user.groups.each do |group| %>
      <% group.travels.each do |travel| %>
        <div class="travel" data-id=<%= travel.id %>>
          <div class="travel-name-list">
            <a href="#"><%= travel.name %></a>
              <%= link_to '詳細' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="select-trip-chart">
    <a href="#">■選択された男気旅行結果</a>
      <%# <%= render partial: "checked" %> 
      <div class="select-trip-title">
        <div class="nickname-title">
          <a href="#">ニックネーム</a>
        </div>
        <div class="money-title">
          <a href="#">男気金額</a>
        </div>
        <div class="times-title">
          <a href="#">男気勝利数</a>
        </div>
      </div>
      <div class="select-trip-result1">
        <div class="nickname1"></div>
        <div class="money1"></div>
        <div class="times1"></div>
      </div>
      <div class="select-trip-result2">
        <div class="nickname2"></div>
        <div class="money2"></div>
        <div class="times2"></div>
      </div>
      <div class="select-trip-result3">
        <div class="nickname3"></div>
        <div class="money3"></div>
        <div class="times3"></div>
      </div>
      <div class="select-trip-result4">
        <div class="nickname4"></div>
        <div class="money4"></div>
        <div class="times4"></div>
      </div>
  </div>
</div>

<div class = main-under>
  <div class="select-belong-group">
    <a href="#">■所属している男気グループ一覧</a>
    <% current_user.groups.each do |group| %>
      <div class="group" data-id=<%= group.id %>>
        <div class="group-name-list">
          <a href="#"><%= group.name %></a>
        </div>
      </div>
    <% end %>
  </div>
  <div class="total-trip-chart">
    <a href="#">■選択された男気グループの累積結果</a>
      <div class="select-gr-title">
        <div class="nickname-gr-title">
          <a href="#">ニックネーム</a>
        </div>
        <div class="money-gr-title">
          <a href="#">男気金額</a>
        </div>
        <div class="times-gr-title">
          <a href="#">男気勝利数</a>
        </div>
      </div>
      <div class="select-gr-result1">
        <div class="gr-nickname1"></div>
        <div class="gr-money1"></div>
        <div class="gr-times1"></div>
      </div>
      <div class="select-gr-result2">
        <div class="gr-nickname2"></div>
        <div class="gr-money2"></div>
        <div class="gr-times2"></div>
      </div>
      <div class="select-gr-result3">
        <div class="gr-nickname3"></div>
        <div class="gr-money3"></div>
        <div class="gr-times3"></div>
      </div>
      <div class="select-gr-result4">
        <div class="gr-nickname4"></div>
        <div class="gr-money4"></div>
        <div class="gr-times4"></div>
      </div>
  </div>
</div>