<div class = main-top>
  <div class="trip-history">
    <a href="#">■ユーザーが参加した男気旅行一覧</a>
     <% current_user.groups.each do |group| %>
      <% group.travels.each do |travel| %>
        <div class="travel" data-id=<%= travel.id %>>
          <div class="travel-name-list">
            <a href="#"><%= travel.name %></a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="select-trip-chart">
    <a href="#">■選択された男気旅行結果</a>
    <%# <%= line_chart @results.map {|result|
    {name：result.nickname、data：result.money（：created_at）.count}
} %> 
    <%# ↓複数種類の折れ線グラフ %>
    <%# <%= line_chart @results.group(:nickname).group(:money).count,width: "300px", height: "200px" %> 
    <div class="select-trip-chart-left">
      <%= pie_chart @results.group(:nickname).count,width: "300px", height: "200px" %>
    </div>
    <%# <%= @results_nickname_sum %> 
    <%# <%= @first %>	 
    <%# <%= @all %> 
    <%# <%= @element %>
    <div class="select-trip-chart-right">
      <p>■<%= @key0 %>：<%= @value0 %></p>
      <p>■<%= @key1 %>：<%= @value1 %></p>
      <p>■<%= @key2 %>：<%= @value2 %></P>
      <p>■<%= @key3 %>：<%= @value3 %></p>
      <p>■<%= @key4 %>：<%= @value4 %></p>
    </div>

    <%# <%= line_chart @data, width: "300px", height: "100px",colors: ["pink", "#999"] %> 

  </div>
</div>

<div class = main-under>
  <div class="select-belong-group">
    <a href="#">■所属している男気グループ一覧</a>
    <% current_user.groups.each do |group| %>
      <div class="group">
        <div class="group-name-list">
          <a href="#"><%= group.name %></a>
        </div>
      </div>
    <% end %>
  </div>
  <div class="total-trip-chart">
    <a href="#">■選択された男気グループの累積結果</a>
  </div>
</div>