<div class="menu-bar-flex">
  <div class="top-page-title">
    <p>男気ジャンケン記録APP</p>
  </div>
  <div class="menu-button">
    <%= link_to "■グループ作成", new_group_path %>
    <%= link_to "■旅行計画作成", new_travel_path %>
    <%= link_to "■ジャンケン結果を記録する旅行選択", new_travel_select_path %>
    <%= link_to "■ジャンケン結果記録", new_result_path %>
    <a href="#">■男気スポット紹介</a>
  </div>
  <div class="user-management">
      <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐する%>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ユーザー情報編集', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐する%>

  </div>

</div>