<div class='result-input-form'>
 
  <h1>男気ジャンケン編集ページ</h1>
  <%=form_with model: @result, local: true do |f|%>
  <h4 class='attention'>【必須】は必ず入力または選択ください</h4>
    <%# <%= render 'devise/shared/error_messages', model: f.object %>
    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :【必須】男気を魅せた人, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.collection_select(:nickname, User.where(id: @user_ids).select('nickname'), :nickname, :nickname, {include_blank: "----"},{autofocus: true}) %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :【必須】金額, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.number_field :money %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :品目, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.collection_select(:item_category_id, ItemCategory.all, :id, :name ) %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :備考, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.text_field :note,size: 30 %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :写真（選択しない場合、既存の画像が再登録されます）, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.file_field :image %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.submit "更新" %>
      </div>
    </div>

  <% end %>

</div>