<div class='result-input-form'>
 
  <h1>男気ジャンケン 結果記録</h1>
  <div class="travel-name-variable">対象旅行名：<%= @travel_name %></div>
  <h4 class='attention'>【必須】は必ず入力または選択ください</h4>
  <%=form_with model: @result, local: true do |f|%>
    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにする。%>
    <%= render 'devise/shared/error_messages', model: f.object %>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :【必須】男気を魅せた人, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.collection_select(:nickname, User.where(id: @user_ids).select('nickname'), :nickname, :nickname, {include_blank: "----"}) %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :【必須】金額, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.number_field :money %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :【任意】品目, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.collection_select(:item_category_id, ItemCategory.all, :id, :name ) %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :【任意】備考, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.text_field :note,size: 30 %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :【任意】写真, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.file_field :image %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.submit "登録する" %>
      </div>
    </div>

  <% end %>

</div>