<div class='result-input-form'>
 
  <h1>男気ジャンケン詳細ページ</h1>
  <%=form_with model: @result, local: true do |f|%>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにする。%>
    <%= render 'devise/shared/error_messages', model: f.object %>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :男気がある人を選択, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.collection_select(:nickname, User.where(id: @user_ids).select('nickname'), :nickname, :nickname, {include_blank: "----"}) %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :金額, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.number_field :money %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :品目, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.collection_select(:item_category_id, ItemCategory.all, :id, :name ) %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :備考, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.text_field :note,size: 30 %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
        <%= f.label :写真, class: 'result-input-form__label'%>
      </div>
      <div class='result-input-form__field--right'>
        <%= f.file_field :image %>
      </div>
    </div>

    <div class='result-input-form__field'>
      <div class='result-input-form__field--left'>
      </div>
      <div class='result-input-form__field--right'>
      <%= link_to '削除', result_path(@result.id), method: :delete %>
        <%# <%= f.submit "削除する" ,method: :delete %>
      </div>
    </div>

  <% end %>

</div>